<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flag Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Happy+Monkey&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>
<body>
    <%- include('./partials/_navbar') %>
    <h1>About</h1>
    <br>
    <h2>This is a small flag quiz game developed by me, Victory Ma. I hope you enjoy!</h2>
    <h3 class="attribution">Background Image by Constantinos Kollias on Unsplash
    </h3>
</body>
</html>